<div class="container mt-4 shadow-lg p-3">
    <h1>{{title}}</h1>
    <p>{{description}}</p>

    <form method="post">
        <div class="form-group">

        </div>
        <div class="form-group col-lg-6 mb-2">
            <input type="text" class="form-control" name="name" maxlength="255" placeholder="Nome..." value="{{name}}" required>
        </div>
        <div class="form-group col-lg-2">
            <input type="text" class="form-control" name="cpf" maxlength="14" placeholder="CPF..." value="{{cpf}}" required>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">{{nameAction}}</button>
        </div>
    </form>

</div>